src/main/resources/service.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://localhost:8080/soapservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost:8080/soapservice" targetNamespace="http://localhost:8080/soapservice">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://localhost:8080/soapservice">
            <xs:element name="getSpecialtyRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="code" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSpecialtyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="specialty" type="tns:specialty"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="specialty">
                <xs:sequence>
                    <xs:element name="code" type="xs:string"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="short_name" type="xs:string"/>
                    <xs:element name="type" type="tns:specialtyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="specialtyType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="BACHELOR"/>
                    <xs:enumeration value="MAGISTR"/>
                    <xs:enumeration value="SPECIAL"/>
                    <xs:enumeration value="POSTGRAD"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getSpecialtyResponse">
        <wsdl:part element="tns:getSpecialtyResponse" name="getSpecialtyResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getSpecialtyRequest">
        <wsdl:part element="tns:getSpecialtyRequest" name="getSpecialtyRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="SpecialtyPort">
        <wsdl:operation name="getSpecialty">
            <wsdl:input message="tns:getSpecialtyRequest" name="getSpecialtyRequest"> </wsdl:input>
            <wsdl:output message="tns:getSpecialtyResponse" name="getSpecialtyResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SpecialtyPortSoap11" type="tns:SpecialtyPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getSpecialty">
            <soap:operation soapAction=""/>
            <wsdl:input name="getSpecialtyRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getSpecialtyResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SpecialtyPortService">
        <wsdl:port binding="tns:SpecialtyPortSoap11" name="SpecialtyPortSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>